<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.selection.dao.ConfigDao">
    <resultMap id="configRT" type="com.course.selection.bean.Config">
        <result column="quan1" property="quan1" jdbcType="VARCHAR"/>
        <result column="quan2" property="quan2" jdbcType="VARCHAR"/>
        <result column="bzzx" property="bzzx" jdbcType="VARCHAR"/>
        <result column="jycp" property="jycp" jdbcType="VARCHAR"/>
        <result column="cpz" property="cpz" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findAll" resultMap="configRT">

        SELECT
                `quan1`,
                `quan2`,
                `bzzx`,
                `jycp`,
                `cpz`
                FROM
                `config`
        LIMIT 0, 1 ;

    </select>

    <update id="update">
       UPDATE
          `config`
        <set>
            <if test="config.quan1 != null and config.quan1 != '' ">
                `quan1` = #{config.quan1,jdbcType=VARCHAR},
            </if>
            <if test="config.quan2 != null and config.quan2 != '' ">
                `quan2` =#{config.quan2,jdbcType=VARCHAR},
            </if>
            <if test="config.bzzx != null and config.bzzx != '' ">
                `bzzx` = #{config.bzzx,jdbcType=VARCHAR},
            </if>
            <if test="config.jycp != null and config.jycp != '' ">
                `jycp` = #{config.jycp,jdbcType=VARCHAR},
            </if>
            <if test="config.cpz != null and config.cpz != '' ">
                `cpz` = #{config.cpz,jdbcType=VARCHAR}
            </if>
        </set>
        SET

    </update>


</mapper>